<ion-header>
  <ion-navbar>
    <ion-title>
      Movie Finder
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list>
</ion-header>

<ion-content padding>

  <!--<li [src] = "result.image"></li>-->

  <!--<li *ngFor="let current of results">{{ current.title }}</li>-->



  <ion-list>
    <ion-list-header *ngIf="results && results.length > 0">
      Results:
    </ion-list-header>
    <ion-list-header *ngIf="!results || results.length == 0">
      No results
    </ion-list-header>
    <ion-item *ngFor="let current of results">
      <ion-thumbnail item-start>
        <img [src]="current.image">
      </ion-thumbnail>
      <h2>{{current.title}}</h2>
      <p>{{current.author}}</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>
  
</ion-content>
