<ion-header>
  <ion-navbar>
    <ion-title>
      Movie Finder
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content>

  <!--<li [src] = "result.image"></li>-->

  <!--<li *ngFor="let current of results">{{ current.title }}</li>-->


 
  <ion-list>
    <ion-list-header *ngIf="(results | async)?.length > 0">
      Results:
    </ion-list-header>
    <ion-list-header *ngIf="(results | async)?.length == 0">
      No results
    </ion-list-header>
    <ion-item *ngFor="let movie of (results | async)">
      <ion-thumbnail item-start>
        <img [src]="'https://image.tmdb.org/t/p/w45' + movie.poster_path">
      </ion-thumbnail>
      <h2>{{movie.title}}</h2>
      <button clear item-end ion-button [navPush]="pushPage" [navParams]="movie">></button>
    </ion-item>
  </ion-list>
  
</ion-content>
